/* CardSkeleton.css */
.card-skeleton-padding {
  padding: 20px; /* Adjust the padding as needed */
}

.card-skeleton-back,
.card-skeleton-picture,
.card-skeleton-contacts h3,
.card-skeleton-contacts li,
.card-skeleton-socials span {
  height: 20px; /* Adjust the height as needed */
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin-bottom: 8px;
}

.card-skeleton-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.card-skeleton-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.card-skeleton-contacts ul {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 1rem auto;
}

.card-skeleton-contacts i {
  margin-right: 10px;
}

.card-skeleton-socials {
  padding: 10px;
  text-align: center;
}

.card-skeleton-socials i {
  font-size: 40px;
  color: darkcyan;
  padding: 10px 10px;
  transition: transform 0.1s ease-in;
}

.card-skeleton-socials i:hover {
  transform: scale(1.2);
}

.card-skeleton-circles-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.card-skeleton-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: 0 4px;
}

.template_Container {
  margin-top: 2rem;
}

@keyframes loading {
  to {
    background-position: -200% 100%;
  }
}
