.doctor_card:hover .doctor_profile_picture img {
  border: 7px solid cyan;
}

.doctor_profile_back img {
  height: 150px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.doctor_profile_picture img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
  background-color: #fff;
}

.doctor_profile_contacts ul {
  list-style: none;
  margin: 1rem auto;
}

.doctor_profile_contacts i {
  margin-right: 10px;
}

.doctor_profile_socials {
  padding: 10px;
  text-align: center;
}

.doctor_profile_socials i {
  font-size: 40px;
  color: darkcyan;
  padding: 10px 10px;
  transition: transform 0.1s ease-in;
}

.doctor_profile_socials i:hover {
  transform: scale(1.2);
}
