.main-form-container {
  width: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("../../../../public/assets/images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-form-container {
  background-color: white;
}

.form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-container-tags {
  flex-shrink: 1;
}

.registerimg {
  width: 90px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
  margin-bottom: 10px;
}

.map-container {
  flex-shrink: 1;
  margin: 15px;
}

.form-element {
  margin: 15px;
}

.form-element button {
  width: 100%;
}

.map-container {
  width: 500px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .form-container {
    flex-direction: column; /* Change to column layout for small screens */
  }

  .map-container {
    margin-top: 15px; /* Add margin to separate the map from the form on small screens */
  }

  .main-form-container {
    height: auto;
  }
}
