.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 94, 255);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbarLeft {
  flex: 3;
}

.topbarLogo {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
  color: white !important;
  cursor: pointer;
}

.topbarCenter {
  flex: 3;
}

.topbarRight {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 25px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.topbarIcons {
  display: flex;
  color: white;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  flood-color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  font-weight: bold;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
