.about-main-container {
  position: relative;
  height: 100vh;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading h1 {
  text-align: center;
  color: #0195e8;
  margin-top: 20px;
  font-weight: var(--font-weight-bold);
}

.about-card-container {
  position: relative;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about-card-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .btn-visit {
    width: 100%;
  }

  .card-content-title {
    text-align: center;
  }

  .card-content-text {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .about-main-container {
    position: relative;
    height: auto;
    top: 60px;
  }

  .about {
    height: auto;
    top: 0;
  }
}
