.reset-container {
  width: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("../../../public/assets/images/background_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.reset {
  height: 450px;
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  text-align: center;
}

.resetimg {
  width: 70px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}
.user-reset {
  text-align: center;
  color: #0195e8;
  font-weight: 600;
  margin-top: -10px;
}

.emailcon {
  display: flex;
  width: 400px;
  border: 2px solid #000000;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.emailicon {
  margin-top: 5px;
  margin-right: 10px;
}

.input-password {
  border: none;
  width: 350px;
  height: 30px;
}

.input-password:focus {
  outline: none;
}

.submitbtn {
  height: 40px;
  width: 399px;
  background-color: #0195e8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
}

.back {
  display: flex;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.backicon {
  margin-top: 5px;
  margin-right: 10px;
}
