.NavBarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Example styles for the dropdown */
.ProfileDropdown {
  position: absolute;
  top: 50px;
  right: 5px;
  padding: 5px 0px;
  background: white;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 5;
}

.ProfileDropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
}

.ProfileDropdown h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.2em;
}

.ProfileDropdown span {
  font-style: 14px;
  color: #cecece;
  font-weight: 400;
}

.ProfileDropdown ul {
  margin: 0;
  padding: 0;
}

.ProfileDropdown ul li {
  list-style: none;
  font-size: small;
  padding: 10px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.ProfileDropdown ul li:hover {
  background-color: rgb(217, 223, 223);
}

.ProfileDropdown ul li a {
  width: 100%;
}

.ProfileDropdown ul li.shareIcon {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.shareIcon {
  font-size: medium !important;
}

.ProfileDropdown ul li:hover.shareIcon {
  opacity: 1;
}

.ProfileDropdown ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  margin-left: 5px;
}

@media (max-width: 576px) {
  .ProfileDropdown {
    top: 40.92px;
  }
}

@media (min-width: 992px) {
  .ProfileDropdown {
    top: 72px;
  }
}
