/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*-----------------------
  ------- SETUP-------------
  ------------------------- */
:root {
  /* Color styles */
  --primary: #0195e8;
  --primary-light: #4db4ee;
  --primary-dark: #0062df;
  --main-black: #000609;
  --dark-brown: #341413;
  --orange: #fc8c00;
  --green: #006924;
  --green-light: #80b492;
  --orange-light: #fdba66;
  --grey: #eeeeee;
  --white: #ffffff;

  /*Font size desktop*/
  --header-1: 54px;
  --header-2: 48px;

  /*Font size mobile*/
  --header-3: 42px;
  --header-4: 32px;

  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  /*Font weight*/
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Gumela Regular"; */
}

body {
  background-color: #f2f2f2;
}

/*-----------------------
  ------- NAVBAR-------------
  ------------------------- */
.btn {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);
  border: none;
}

.btn-primary {
  background-color: var(--orange) !important;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--orange-light) !important;
}

.navbar {
  padding: 28px 0;
}

a.nav-link {
  font-family: "Gumela Regular";
  font-size: var(--text-medium) !important;
  font-weight: var(--font-weight-semi-bold) !important;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
}

a.nav-link:hover {
  border-bottom: 2px solid red;
  color: var(--orange) !important;
}

a.nav-link.active {
  border-bottom: 2px solid red;
}

/*-----------------------
  ------- HERO-------------
  ------------------------- */
.hero {
  height: calc(100vh - 113px);
  background-image: url("../public/assets/images/82254436b9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 24px 0;
}

.text-label {
  color: var(--orange);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}
.text-hero-bold {
  color: var(--dark-brown);
  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}
.text-hero-regular {
  color: black;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero-img img {
  width: 80%;
  padding: 0px;
}

/*-----------------------
  ------- SERVICES-------------
  ------------------------- */

.services {
  height: 80vh;
  text-align: center;
}

.card-container {
  position: relative;
  top: 15%;
}

.card-container .card {
  border-radius: 20px;
}

.services-heading h1 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #0195e8;
  margin-top: 20px;
  font-weight: var(--font-weight-bold);
}

.service-card img {
  width: 30%;
  margin-top: 5px;
}

.service-card:hover {
  background-color: #0195e8 !important;
  color: #fff;
}

/*-------------------------
  ------- ABOUT-------------
  ------------------------- */

.about-card-container {
  position: relative;
  margin-top: 10%;
}

.about-heading h1 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #0195e8;
  margin-top: 20px;
  font-weight: var(--font-weight-bold);
}

/*-------------------------
  ------- CONTACT US-------------
  ------------------------- */

.contact-heading h1 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #0195e8;
  margin-top: 20px;
  font-weight: var(--font-weight-bold);
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.contact-details p {
  width: auto;
}

/*-----------------------
  ------- TOPBAR-------------
  ------------------------- */

  .topbarContainer{
    height: 50px;
    width: 100%;
    background-color:rgb(0, 94, 255) ;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarLeft{
    flex: 3;
}

.topbarLogo{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter{
    flex: 3;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 90%;
}

.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink{
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    flood-color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:x-small;
    font-weight: bold;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/*-----------------------
  ------- PROFILE-------------
  ------------------------- */

.profileContainer {
  display: flex;
  background-color: white;
}

/*-----------------------
  ------- LEFTBAR-------------
  ------------------------- */

.leftbar {
  flex:25%;
}

.leftbarProfile {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbarProfileDetails {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftbarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.leftbarProfileName {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #050505;
}

.leftbarWrapper {
  height: calc(100vh -50px);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white;
}

.leftbarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftbarListIcon {
  margin-right: 15px;
  cursor: pointer;
}

.leftbarListIconName {
  cursor: pointer;
}

/*-----------------------
  ------- FEED-------------
  ------------------------- */

.feed {
  flex: 50%;
}

.feedWrapper {
  padding: 20px;
}

/*-----------------------
  ------- SHARE-------------
  ------------------------- */

.shareWrapper {
  background-color: white;
  height: calc(100vh -50px);
  margin: 20px 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 30%;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareIconText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: 0;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

/*-----------------------
  ------- POST-------------
  ------------------------- */

.postWrapper {
  background-color: white;
  height: calc(100vh -50px);
  margin: 20px 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.postDate {
  font-size: 12px;
}

.morevert {
  cursor: pointer;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.likeCommentCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter,
.postLike {
  font-size: 15px;
  cursor: pointer;
}

.postCommentText {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px dashed grey;
}

.likeAndComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30%;
}

.commentPreview {
  display: flex;
}

.commenterImg {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.commenterDetails {
  padding: 9px 15px;
  width: 341px;
  height: 53px;
  background-color: rgb(234, 232, 232);
  left: 581px;
  top: 1832px;
  border-radius: 18px;
}

.commenterName {
  font-weight: 400;
  font-size: 13px;
  color: #050505;
  cursor: pointer;
}

.comment {
  font-weight: 200;
  font-size: 11px;
  color: #050505;
  cursor: pointer;
}

.commentDetails {
  display: flex;
  color: grey;
  font-size: 10px;
}

.commentDetailsText {
  margin: 0 20px;
  cursor: pointer;
}

.commentInput {
  border: none;
  width: 85%;
  padding: 9px 15px;
  height: 53px;
  background-color: rgb(234, 232, 232);
  border-radius: 100px;
}

.commentInput:focus {
  outline: none;
}

/*-----------------------
  ------- RIGHTBAR-------------
  ------------------------- */


.rightbar{
  flex: 25%;
}

.rightbarWrapper{
  /* margin-left: 20px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white; */

  height: calc(100vh -50px);
  margin: 20px 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: white;
}

.rightbarTitle{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.onlineFriendList{
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarFriend{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer{
  margin-right: 10px;
  position: relative;

}

.rightbarProfileImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.rightbarOnline{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbarUserName{
  font-weight: normal;
  cursor: pointer;
}


/*--------------------------
  --------VIEW DOCTOR-------
  ------------------------- */

.title-bar-container {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.title-bar img {
  height: 50px;
  width: auto;
  padding-right: 10px;
}

.search-container {
  background-color: #5fa6f9;
}

.search-container-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 300px;
  height: 40px;
  padding: 8px;
  border: none;
  background-color: white;
  font-size: 16px;
  color: #333;
  border-radius: 20px;
  outline: none;
}

#searchInput::placeholder {
  color: #999;
}

.template_Container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.doctor_card {
  transition: transform 0.5s ease-in;
}

.doctor_card:hover {
  transform: scale(1.05);
}
.doctor_card:hover .doctor_profile_picture img {
  border: 7px solid cyan;
}

.doctor_profile_back img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.doctor_profile_picture img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
  background-color: #fff;
}

.doctor_profile_contacts ul {
  list-style: none;
  margin: 1rem auto;
}

.doctor_profile_contacts i {
  margin-right: 10px;
}

.doctor_profile_socials {
  padding: 10px;
  text-align: center;
}

.doctor_profile_socials i {
  font-size: 40px;
  color: darkcyan;
  padding: 10px 10px;
  transition: transform 0.1s ease-in;
}

.doctor_profile_socials i:hover {
  transform: scale(1.2);
}

/* DESKTOP VERSIONS ONLY */
@media (min-width: 1399.98px) {
  .container {
    width: 84%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /*-----------------------
  ------- NAVBAR-------------
  ------------------------- */
  .navbar {
    padding: 18px 0;
  }

  /*-----------------------
  ------- HERO-------------
  ------------------------- */
  section.hero {
    margin: 1rem 0;
    text-align: center;
  }
  .btn {
    display: block;
    margin: 1rem 0;
  }
  .text-label,
  .text-hero-bold,
  .text-hero-regular {
    text-align: center;
  }
  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 44px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /*-----------------------
  ------- NAVBAR-------------
  ------------------------- */
  .navbar {
    padding: 28px 0;
  }

  .navbar .nav-link {
    text-align: left;
  }

  .btn {
    display: block;
    margin: 1rem 0;
  }

  .text-hero-bold {
    font-weight: var(--font-weight-bold);
    font-size: var(--header-3);
    line-height: 44px;
  }

  /*-----------------------
  ----------HERO-----------
  ------------------------- */
  section.hero {
    margin: 1rem 0;
  }

  /*-----------------------------
    ----------SERVICES-----------
    ----------------------------- */
  .services {
    height: auto;
    text-align: center;
  }

  .card-container {
    margin-top: auto;
  }

  .card-footer button {
    width: 100%;
  }

  /*-----------------------------
    ----------ABOUT-----------
    ----------------------------- */
  .about {
    height: auto;
  }

  .about h5 {
    font-weight: var(--font-weight-semi-bold);
  }

  .about-card-container {
    margin-top: 20px;
  }

  .about h5,
  .about p {
    text-align: center;
  }

  .card-container {
    margin-top: auto;
  }

  .about-card-container button {
    width: 100%;
  }
}

/* After the toggler button appears */
@media (max-width: 991px) {
  /* Navbar */
  a.nav-link,
  a.nav-link:hover,
  a.nav-link.active {
    border-bottom: none;
  }

  /* Hero */
  .hero {
    height: calc(100vh - 97.31px);
    overflow: hidden;
  }
}


/*----------------CREATEPOST--------------*/

.modalBackground{
  width: 45%;
  height: 400px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;

}

.modalContainer{
  width: 90%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 50px 50px rgba(0,0,0,0.52); 
box-shadow: 5px 5px 50px 50px rgba(0,0,0,0.52);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalTop{
  display: flex;
  justify-content: space-between;
}

.modalText{
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
}

.closeButton{
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalHr{
  margin: 10px;
}

.modalBody{
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.profileDetails{
  display: flex;
}

.createPostProfileImg{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.createPostProfileName{
  font-size: 15px;
  font-weight: 500;
}

.createPostText{
  border: none;
  width: 100%;
  font-size: 20px;
  margin-bottom: 100px;
}

.createPostText:focus{
  outline: none;
}

.postOptions{
  display: flex;
  align-items: center;
  justify-content: space-between;
   border-style:outset;
   border-color: rgb(238, 238, 238);
   border-width: 2px;
   padding: 10px;
}

.optionsText{
  font-size: 18px;
}

.postOptionIcons{
  display: flex;
}

.imageColor{
  margin-right: 10px;
  color:rgb(0, 194, 0);
  cursor: pointer;
}

.tagColor{
  margin-right: 10px;
  color:rgb(0, 117, 185);
  cursor: pointer;
}

.emotionColor{
  margin-right: 10px;
  color:orange;
  cursor: pointer;
}

.locationColor{
  margin-right: 10px;
  color:red;
  cursor: pointer;
}

.optionColor{
  cursor: pointer;
  margin-right: 10px;
}

.modalBottom{
  display: flex;
}

.postButton{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(0, 106, 255);
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}